*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin: 30px 15px;
    border: 2px solid black;
    width: 400px;
    height: 400px;
}

.number1{
    border-bottom: 2px solid black;
}

.content{
    display: flex;
}
.left{
    width: 50%;
}

.right{
    border-left: 2px solid black;
    width: 50%;
}

.number2, .number3{
    height: 175px;
    border-bottom: 2px solid black;
}

.number3{
    border: none;
}

.number5{
    border-top: 2px solid black;
}

.number7{
    border-bottom: 2px solid black;
}

.lcenter{
    display: flex;
    height: 330px;
}

.lleft{
    border-right: 2px solid black;
}

.lleft, .right{
    width: 50%;
    bor
}