* {
  font-family: "Poppins", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  width: 65%;
  background-color: red;
  margin-top: 0.5%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
}

header {
  font-size: 36px;
  text-align: center;
  background-color: #00d1b9;
}

h1 {
  background-color: #008484;
}

.content {
  border-top: 2px solid white;
  display: flex;
  justify-content: space-between;
}

.left {
  border-right: 2px solid white;
  min-width: 50%;
  text-align: center;
}

.right {
  min-width: 50%;
  text-align: center;
}

.aktualnosci {
  display: flex;
  justify-content: space-between;
}

.left_aktualnosci {
  min-width: 50%;
  padding-right: 5%;
  padding-left: 1%;
}

.text_aktualnosci {
  min-width: 50%;
  padding-left: 5%;
  padding-right: 1%;
}

.pngs {
  max-width: 100%;
}

.spansize {
  font-size: 25px;
}

.pogodacontent {
  display: flex;
  justify-content: space-between;
}

.leftpogoda {
  min-width: 50%;
  padding-right: 5%;
  padding-left: 1%;
  border-right: 2px solid white;
}

.rightpogoda {
  min-width: 50%;
  padding-left: 5%;
  padding-right: 1%;
}

.sportcontent {
  display: flex;
  padding-bottom: 1%;
}

.left_sport {
  min-width: 50%;
  padding-right: 5%;
  padding-left: 1%;
}

.text_sport {
  min-width: 50%;
  padding-left: 5%;
  padding-right: 1%;
}

.swiatcontent {
  display: flex;
}

.leftswiat {
  min-width: 50%;
  padding-right: 5%;
  padding-left: 1%;
  border-right: 2px solid white;
}

.rightswiat {
  min-width: 50%;
  padding-left: 5%;
  padding-right: 1%;
}
