<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">Layout</div>
      <div class="content">
        <div class="left">
          <a href="https://www.youtube.com/">Link</a>
          <a href="https://www.youtube.com/">Link</a>
          <a href="https://www.youtube.com/">Link</a>
          <a href="https://www.youtube.com/">Link</a>
        </div>
        <div class="center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
          eveniet maxime doloremque corrupti placeat ipsum ullam repellendus
          quasi officia ut, qui, dignissimos labore doloribus modi nihil, sequi
          a fugit voluptate? Totam, labore inventore iste in tempora eos minima
          illo rem deserunt quibusdam atque aperiam unde illum, fugit
          reprehenderit esse saepe?
        </div>
        <div class="right">
          <a href="https://www.youtube.com/">Link</a>
          <a href="https://www.youtube.com/">Link</a>
          <a href="https://www.youtube.com/">Link</a>
          <a href="https://www.youtube.com/">Link</a>
        </div>
      </div>
      <div class="fotter">&copy; Wszelkie prawa zastrzezone</div>
    </div>
  </body>
</html>
